
 #register{
  background-color: rgb(51, 50, 50);
  height: 35px;
  width: 200px;
  margin-top: 30px;
  margin-left: 100px;
  border:none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  letter-spacing: 1px; /* Adjust spacing between characters */
}


#privacyContainer{
  display: flex;
  margin-top: 10px;
  margin-left: 0px;
  width: 470px;
 }

 #privacyCheck{
  margin-bottom: 20px;
 }

 #privacyText{
  width: 470px;
 }


 

input[type=text] ,input[type=password] ,input[type=email] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}


.container {
width:460px;
margin-top:20px;
margin-left:500px;
padding: 16px;
height: 520px;
}
p{
width: 400px;
}


span.psw {
float: right;
padding-top: 16px;
}

.img{
margin-left:400px;
width:50px;
height:50px;
}


#Login{
 margin-left: 200px;
}

form{
 width: 100px;
}


 #confirm{
   margin-top:20px;
 }
 

    #title{
        display: flex;
        align-items: center;
        font-size: 24px;
        margin-left: 180px;
        padding-top: 30px;
        color: black;
    }
    #titleText{
        margin-left: 30px;
    }

    #navContainer {
        display: flex;
        align-items: center;
        background-color:#e8e8e8;
        width: 100%; /* Adjust width as needed */
        height: 80px; /* Adjust height as needed */   
    }
     #logoImg{
        margin-top: 10px;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        margin-left: 100px;
    }
    
    #login{
        margin-left: 800px;
    }
 
   .navButton {
      
        background-color:#e8e8e8;
        width: 150px;
        color: black;
        cursor: pointer;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
        border: none;
}
