body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fa;
  margin: 0;
  padding: 0;
}

/* Form Styles */
#registerForm {
  max-width: 500px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input[type="text"], input[type="email"], input[type="password"], select, input[type="file"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

input[type="password"]:focus, input[type="text"]:focus, input[type="email"]:focus, select:focus, input[type="file"]:focus {
  border-color: #007BFF;
}

label {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.password {
  position: relative;
}

.password i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

#privacyContainer {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

#privacyContainer input {
  margin-right: 10px;
}

#privacyContainer label {
  font-size: 14px;
  color: #666;
}

#register {
  background-color: #007BFF;
  color: #fff;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#register:hover {
  background-color: #0056b3;
}

/* Error Container */
#errorContainer {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}