
body {
    display: flex;
    font-size: 18px;
    background-color: black;
   
}
#container{
    width: 100%; /* 80% of the parent container's width */
    height: 2000px;
    background-color: #F0F8FF;

}
html, body {
    margin: 0;
    padding: 0;
    width: 100%; /* Ensure full width */
    height: 100%; /* Ensure full height */
}
#bigTitle {
    display: flex;
    background-color: white;
    width: 100%; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    
    /* Ensure it remains visible within the container */
  
}
 
    #logoImg{
        margin-top: 25px;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        margin-left: 200px;
    }
    #loginTag{
        text-decoration: none;
        color: darkblue;
    }

   
   
   
    #fanime {
        font-size: 40px;
        color: #0a542a;
        margin-top: 20px;
        margin-left: 10px;
    }
    
   
    #help {
        font-size: 20px;
        color: darkblue;
        margin-top: 40px;
        margin-left: 800px;
    }
    #text1{
        margin-left: 3vw;
        margin-top: 40px;
        font-size: 16px;
        color: black;
        cursor: pointer;
    }
    
    #purple_container{
        margin-top: 70px;
        margin-left: 34vw;
       background-color:white;
        border-radius: 5px;
        width: 400px;
        height: 180px;
    }
    #email{
        color: blue;
        font-weight: semi-bold;
    }
    #title{
        font-size: 24px;
        margin-left: 180px;
        padding-top: 20px;
        color: black;
    }

    #backBtn{
        height: 35px;
        width: 240px;
        margin-top: 30px;
        margin-left: 100px;
        background-color: rgb(15, 124, 15);
        border:none;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        letter-spacing: 1px; /* Adjust spacing between characters */
    }


