
body{
    display: flex;
    flex-direction:column;
    margin-left: 100px;
}

#container {
width:1500px;
background-color: #CDCDCD;
display: flex;
flex-direction:column;
height: 100%;
 
}

.item{
    margin-left:20px;
 width:100px;
 height:100px;
}

.title{
    margin-left:40px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width:1400px;
    grid-gap: 3px;
    margin-top: 50px;
    margin-bottom:40px;
    font-size:18px;
   
}
.total_price{
    text-align:center;
    color:red;
}
.content{
    margin-left:40px;

    width:1400px;
    font-size:16px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 3px;
    align-items:center;
    margin-bottom: 50px;
    

}

.Product{
    font-size:20px;
    text-align:center;
}

.product_name {
    text-align:center;
    color: black;
}

.price {
    text-align:center;
    color: red;
}

.quantity {
    text-align:center;
}

#prices{
    text-align:center;
    color:red;
}
#checkOut{
    background-color:white;
    display:flex;
    font-size: 20px;
    width:1500px;
    margin-top:480px;
    height:400px;
    margin-left: 30px;
    position: fixed;
    z-index: 1; /* Add this line */

}


#total_item{
    padding-left:10px;
}
#price{
    display:flex;
    align-items:center;
    justify-content:center;
    
}

#total_price{
    text-align:center;
}

#quantity{
    text-align:center;
}


button {
    background-color: black;
    color: white;
    cursor: pointer;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    }
    
    button:hover {
      transform: scale(0.9);
      background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    }
    
    body{
        font-size:12px;
        display:flex;
        background-color: bisque;
        align-items:center;
        height: 1500px;
    }
      
    
    #navContainer{
        width:1500px;
        background-color: black;
    }
    
    #logOut{
        margin-left: 200px;
    }

    .total{
        margin-left:800px;
    }

    .user-info{
        display:flex;
        flex-direction:column;
    }
    .title2{
        margin-top:20px;
        font-size:22px;
        color:red;
        margin-right:500px;
    }

    .content2{
        margin-top:10px;
        font-size:18px;
        margin-right:200px;
        display:flex;
    }

    .address{
        margin-right:80px;
    }
    #address{
        margin-right:80px;
    }

    .item10{
        margin-left:100px
    }

    .row{
        margin-top:10px;
        display:flex;
    }

    .row2{
        margin-left:20px;
    }
    .row3{
        margin-left:82px;
    }
    .row4{
        margin-left:78px;
    }
    .text{
        margin-top:30px;
        margin-left:600px;
    }
    #checkOutbtn{
        margin-top:20px;
        margin-left:50px;
    }

    .payment{
        margin-left:100px;
    }

    #bigTitle{
        font-size:28px;
        margin-top:20px;
        margin-left:40px;
    }

    #toggle{
        position: fixed; /* Change this line */
        left:1400px;
        bottom:80px;
        height:50px;
        z-index:99;
    }

    #paymentForm{
        margin-left:100px;
        margin-top:100px;
    }

    #text1{
        margin-left:100;
        margin-top:100px;
    }
    #text2{
        margin-left:100px;
        margin-top:20px;
    }