body {
    background-color: bisque;
   }
   html, body {
     margin: 0;
     padding: 0;
     width: 100%; /* Ensure full width */
     height: 100%; /* Ensure full height */
   }
   
   #navContainer {
     display: flex;
     background-color: black;
     width: 100%; /* Adjust width as needed */
     height: 80px; /* Adjust height as needed */
     
     /* Ensure it remains visible within the container */
   
   }

   #signUpBtn{
    margin-left: 170px;
    margin-top: 20px;
   }
   
   .button {
     background-color: black;
     color: white;
     cursor: pointer;
     padding-left: 30px;
     padding-right: 30px;
     padding-top: 10px;
     padding-bottom: 10px;
     font-size: 12px;
     }
     #home{
         margin-left: 10px;
     }
   #login{
     margin-left: 900px;
   }
   #logoImg{
     margin-top: 25px;
     width: 35px;
     height: 35px;
     border-radius: 5px;
     margin-left: 100px;
   }
   
     button:hover{
         transform: scale(0.9);
         background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
       }
   
   
   #title{
           font-size: 22px;
           margin-left: 140px;
           margin-top: 20px;
           color: black;
       }
   #emailContainer{
    margin-top: 20px;
   }

   input[type=text], input[type=password] ,input[type=email] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
   }
   
   
   .container {
   background-color: white;
   width:420px;
   margin-top:60px;
   margin-left:500px;
   padding: 16px;
   height: 260px;
   }

   p{
   width: 400px;
   }
   
   
   span.psw {
   float: right;
   padding-top: 16px;
   }
   
   .img{
   margin-left:400px;
   width:50px;
   height:50px;
   }
   
   
   #Login{
    margin-left: 200px;
   }
   
   form{
    width: 100px;
   }
   
   
    #confirm{
      margin-top:20px;
    }
   
   
   /* Change styles for span and cancel button on extra small screens */
   @media screen and (max-width: 300px) {
   span.psw {
   display: block;
   float: none;
   }
   .cancelbtn {
   width: 100%;
   }
   
   #register{
   width: 80px;
   }
   
   
   }
   