#container{
    margin-top: 20px;
    margin-left: 300px;
}

.img{
    width:50px;
    height:50px;
  }
  
   #logout{
    height: 80px;    
  }
  #logoImg{
      margin-top: 25px;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      margin-left: 100px;
  }

  table {
    text-align: center;
    width: 90%;
    border-collapse: collapse;
    background-color: white;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}

.button:hover:not(:disabled) {
  background-color: #0056b3; /* Darker blue on hover */
}

.button.reject {
  background-color: #dc3545; /* Red for Reject */
}

.button.reject:hover:not(:disabled) {
  background-color: #a71d2a; /* Darker red on hover */
}

.button.approved,
.button.rejected {
  background-color: grey;
  cursor: not-allowed;
  opacity: 0.7;
}

/* Disabled button style */
button:disabled {
  background-color: grey !important;
  cursor: not-allowed;
  opacity: 0.7;
}