
#logoImg{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-left: 100px;
}  
#login{
  margin-left:800px;
}



#container{
display: grid;
grid-template-columns: repeat(6, 1fr);
gap: 10px;
margin-top: 10px;
flex-wrap: wrap;
width: 1480px;
height:auto;
}

.imageContainer{
    display: flex;
    align-items: center;
    justify-content:center;
      width: 180px;
      height: 170px;
      background-color: antiquewhite;
  }

#view{
    margin-left: 40px;
    margin-top: 20px;
    
}
.productDetails{

    height: 600px;
}
.product{
    margin: 20px;
    background-color:#e8e8e8;
    width: 180px;
    height: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.2px
}
   
.product_name{
    margin-top: 40px;
    margin-left: 50px;
}

.price{
display: flex;
margin-left: 60px;
align-items: center;
margin-top: 20px;
font-size: 16px;

}

.stock{
    margin-left: 30px;
    margin-top: 10px;
}
.status{
margin-left: 60px;
margin-top: 5px;
}

.item{
    width: 100px;
    height: 100px;
}
