
/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}
#login{
    margin-left: 800px;
}
.logo {
  display: flex;
  align-items: center;
}



#logoImg{
  margin-left: 100px;
  width: 50px;
  height: 50px;
}
html, body {
   margin: 0;
   padding: 0;
   width: 100%; /* Ensure full width */
   height: 100%; /* Ensure full height */
 }
 
 #navContainer {
   display: flex;
   align-items: center;
   background-color: #e8e8e8;
   width: 100%; /* Adjust width as needed */
   height: 80px; /* Adjust height as needed */   
 }
 
 .button {
  background-color: #e8e8e8;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  border: none;
  }
  
#logoName {
  background-color: #e8e8e8;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  border: none;
  }

   .navButton {
      
        background-color:#e8e8e8;
        width: 150px;
        color: black;
        cursor: pointer;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
        border: none;
}

.button {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 14px;
    border: none;
}
.button:hover {
    transform: scale(0.9);
    background: #222;
}

#container{
display: grid;
grid-template-columns: repeat(6, 1fr);
gap: 10px;
margin-top: 10px;
flex-wrap: wrap;
width: 1480px;
height:auto;
}

.imageContainer{
    display: flex;
    align-items: center;
    justify-content:center;
      width: 180px;
      height: 170px;
      background-color: antiquewhite;
  }

#view{
    margin-left: 40px;
    margin-top: 20px;
    
}
.productDetails{

    height: 600px;
}
.product{
    margin: 20px;
    background-color:#e8e8e8;
    width: 180px;
    height: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.2px
}
   
.product_name{
    margin-top: 40px;
    margin-left: 50px;
}

.price{
display: flex;
margin-left: 60px;
align-items: center;
margin-top: 20px;
font-size: 16px;

}

.stock{
    margin-left: 30px;
    margin-top: 10px;
}
.status{
margin-left: 60px;
margin-top: 5px;
}

.item{
    width: 100px;
    height: 100px;
}
