/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logoImg{
  margin-left: 100px;
  width: 50px;
  height: 50px;
}
html, body {
  background-color: #f0f0f0;
   margin: 0;
   padding: 0;
   width: 100%; /* Ensure full width */
   height: 100%; /* Ensure full height */
 }
 
     
    #navContainer {

        display: flex;
        align-items: center;
        background-color:#E6E6FA;
        width: 100%; /* Adjust width as needed */
        height: 80px; /* Adjust height as needed */   
    }
    
   .navButton {
        letter-spacing: 1.0px;
        background-color:#E6E6FA;
        width: 150px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        font-size: 16px;
        padding-bottom: 10px;
        border: none;
}
 
 .button {
  background-color: #e8e8e8;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  border: none;
  }


/* Container for the form */
.container {
  background-color: #fff;
  max-width: 400px;
  margin: 40px auto;
  margin-left:550px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Title */
#title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Email input */
#emailContainer input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 20px;
  outline: none;
}

#emailContainer input[type="email"]:focus {
  border-color: black;
}

/* Submit button */
#signUpBtn {
  width: 100%;
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#signUpBtn:hover {
  background-color: #2a2f34;
}

/* Message box (e.g., error) */
#messageContainer {
  color: red;
  margin-bottom: 10px;
}