body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

#content {
    margin-left: 300px ;
    max-width: 1050px;
    margin-top:50px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1, h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

table {
    margin-left: 10px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #475e4d;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a {
    color: #2c7be5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    gap: 8px;
}

button {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

button[name="approveRefund"] {
    background-color: #28a745;
    color: white;
}

button[name="rejectRefund"] {
    background-color: #dc3545;
    color: white;
}

button:hover {
    opacity: 0.85;
}