
#container {
  margin-top: 20px;
  background-color:#f4f4f4;
  width:300px;
  height:450px;
  display: flex;
  flex-direction: column;
  align-items:center;
  border-radius: 5px;
}

#title {
  font-size: 20px;
  margin-top: 50px;
  padding: 10px;
  margin-left:300px;
  width: 450px;
}


  
    .customer{
      margin-top: 30px;
    }

    .seller{
        margin-top:30px;
    }
    
    #product{
        margin-top:30px;
    }

    
  
    .message-container {
      
      background-color: rgba(0, 0, 0, 0.7);
      position: fixed;
      margin-left: 400px;
      margin-top: 400px;
      padding-left: 120px;
      padding-right: 120px;
      padding-top: 90px;
      padding-bottom: 90px;
      color: white;
      font-size: 30px;
      display: flex;
    align-items: center;
    justify-content: center;
    }

  
  .session{
    margin-top: 20px;
  }

  
        .seller, .product, .rider {
          position: relative;
          display: inline-block;
      }
      
      /* Style for the dropdowns */
      .dropdown, .dropdowns, .riderDropdown {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: white;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
          min-width: 150px;
          z-index: 10;
      }
      
      /* Style for dropdown items */
      .dropdown button, .dropdowns button, .riderDropdown button {
          background: none;
          border: none;
          color: black;
          padding: 10px;
          width: 100%;
          text-align: left;
          cursor: pointer;
      }
      
      /* Hover effect for dropdown items */
      .dropdown button:hover, .dropdowns button:hover, .riderDropdown button:hover {
          background-color: #f1f1f1;
      }

      .product:hover .dropdowns{
        display: block;
    }
    
    
  /* Show dropdown on hover */
  .seller:hover .dropdown {
    display: block;
}



.button{
  margin-top: 20px;
}


  