
html, body {
    margin: 0;
    padding: 0;
    width: 100%; /* Ensure full width */
    height: 100%; /* Ensure full height */
  }
  
  body{
  background-color: bisque;
  }
  
 .email{
    margin-left: 20px;
 }

 .Address{
    margin-left: 90px;
 }

 .Product{
    margin-left: 50px;

 }
 .Name{
    margin-left: 30px;
 }

  .button {
  border: none;
  height:40px;
    background-color: black;
    color: white;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
    }
  #home{
    margin-left: 10px;
  }
  
  #logoImg{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-left: 50px;
  }
    button:hover{
        transform: scale(0.9);
        background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
      }
  #name{
  margin-left: 500px;
  }
  
  #navContainer {
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%; /* Adjust width as needed */
    height: 80px; /* Adjust height as needed */
    
  
  }
  #container {
    background-color: #CDCDCD;
    display: flex;
    flex-direction:column;
    width: auto;
    height: auto;
    }

.item{
    margin-left:20px;
 width:100px;
 height:100px;
}

.title{
   display: flex;
   margin-top: 20px;
   margin-bottom: 20px;
    font-size:18px;
    margin-left: 40px;
    gap: 30px;
}
.total_price{
    text-align:center;
    color:red;
}
.content{
    width:1200px;
    font-size:16px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 60px;
    align-items:center;
    margin-top: 30px;
    margin-left: 60px;

}
.itemContent{
    text-align:center;

}
#refunds{
    margin-left: 10px;
}
.Product{
    font-size:20px;
}

.product_name {
    margin-left: 40px;
    color: black;
}

.price {
    margin-left: 30px;
    color: red;
}

.quantity {
    text-align:center;
}

#prices{
    text-align:center;
    color:red;
}
#checkOut{
    background-color:white;
    display:flex;
    font-size: 20px;
    width:1500px;
    margin-top:480px;
    height:400px;
    margin-left: 30px;
    position: fixed;
    z-index: 1; /* Add this line */

}


#total_item{
    padding-left:10px;
}
#price{
    display:flex;
    align-items:center;
    justify-content:center;
    
}
.Pricess{
    margin-left: 40px;
}

#total_price{
    text-align:center;
}

#quantity{
    text-align:center;
}





    .total{
        margin-left:800px;
    }

    .user-info{
        display:flex;
        flex-direction:column;
    }
    .title2{
        margin-top:20px;
        font-size:22px;
        color:red;
        margin-right:500px;
    }

    .content2{
        margin-top:10px;
        font-size:18px;
        margin-right:200px;
        display:flex;
    }

    .address{
        margin-right:80px;
    }
    #address{
        margin-right:80px;
    }

    .item10{
        margin-left:100px
    }

    .row{
        margin-top:10px;
        display:flex;
    }

    .row2{
        margin-left:20px;
    }
    .row3{
        margin-left:82px;
    }
    .row4{
        margin-left:78px;
    }
    .text{
        margin-top:30px;
        margin-left:600px;
    }
    #checkOutbtn{
        margin-top:20px;
        margin-left:50px;
    }

    .payment{
        margin-left:100px;
    }

    #bigTitle{
        font-size:28px;
        margin-top:20px;
        margin-left:40px;
    }

    #toggle{
        position: fixed; /* Change this line */
        left:1400px;
        bottom:80px;
        height:50px;
        z-index:99;
    }

    #paymentForm{
        margin-left:100px;
        margin-top:100px;
    }

    #text1{
        margin-left:100;
        margin-top:100px;
    }
    #text2{
        margin-left:100px;
        margin-top:20px;
    }