
html, body {
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure full width */
  height: 100%; /* Ensure full height */
}

body{
background-color: bisque;
}

#navContainer {
  display: flex;
  align-items: center;
  background-color: black;
  width: 100%; /* Adjust width as needed */
  height: 80px; /* Adjust height as needed */
  
  /* Ensure it remains visible within the container */

}
.button {
border: none;
height:40px;
  background-color: black;
  color: white;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 12px;
  }
#home{
  margin-left: 10px;
}

#logoImg{
  width: 35px;
  height: 35px;
  border-radius: 5px;
  margin-left: 50px;
}
  
#name{
margin-left: 500px
}
.img{
  margin-top: 40px;
  margin-left: 200px;
  width: 300px;
  height: 300px;
}

    .names{
      font-size: 30px;
      margin-top: 20px;
      padding-left: 50px;
    }

    .prices{
      font-size: 20px;
      margin-top: 20px;
      padding-left: 50px;
    }    
    
    #container{
        display: flex;
    }
   
    #buyNowButton {
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    }

    #addCartButton {
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    }

    #status{
      margin-left:50px;
      margin-top:30px;
      font-size:18px;
    }

   
    #addCartButton:active {
    transform: scale(0.9);
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    }

    #buyNowButton:active {
    transform: scale(0.9);
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    }

    .quantity{
      display:flex;
      align-items: center;
      justify-content: center;
      padding-left:50px ;
    }

    #increment{
      margin-left:15px ;
      margin-right: 0px;
    }

    #quantity_input{
     
      padding-top: 5px;
      padding-bottom: 5px;
      width: 40px;
      height: 10px;
      text-align: center;
    }

    

    .buyBtn{
      display: flex;
    }
    #description{
      margin-top:50px;
      margin-left:50px;
    }
    .message-container {
      
      background-color: rgba(0, 0, 0, 0.7);
      position: fixed;
      padding-left: 120px;
      padding-right: 120px;
      padding-top: 90px;
      padding-bottom: 90px;
      color: white;
      font-size: 30px;
      display: flex;
    align-items: center;
    justify-content: center;

    }
    .stock{
      margin-top:10px;
      margin-left:50px;
    }
    .successMessage{
      background-color: #dff0d8;
      color: #3c763d;
      padding: 10px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 20px;
  }
  .confirmation-dialog {
border: 1px solid #ccc;
background-color: #f9f9f9;
padding: 20px;
text-align: center;
}

.confirmation-dialog h2 {
margin-top: 0;
}

.confirmation-dialog p {
margin-bottom: 0;
}

.confirmation-dialog .buttons {
margin-top: 20px;
}

.confirmation-dialog .buttons button {
margin-right: 10px;
}




#container{
margin-left: 30px;
display: grid;
grid-template-columns: repeat(6, 1fr);
gap: 10px;
margin-top: 10px;

flex-wrap: wrap;
}

.ID{
margin: 20px;
background-color: white;
width: 180px;
height: 400px;
font-size: 12px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
letter-spacing: 0.2px
}
.imageContainer{
width: 180px;
height: 170px;
background-color: antiquewhite;
}
.image{
width: 120px;
height: 120px;
margin-top: 20px;
padding-left: 20px;
margin-left: 10px;   
}

.name{
font-size: 15px;
margin-top: 20px;
padding-left: 10px;
text-align: center;
}

.price{
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
font-size: 14px;

}

.unit{
font-size: 10.5px;
}

#description1{
display: flex;
align-items: center;
}

.status{
margin-left: 10px;
}



.star {
  color: #ccc; /* gray for unselected stars */
  font-size: 20px;
  margin-right: 2px;
}

.star.selected {
  color: gold; /* gold for selected stars */
}
.checked{
color: orange;
}


#navContainer {
  display: flex;
  background-color: #BFB9FA;
  width: 100%; /* Adjust width as needed */
  height: 80px; /* Adjust height as needed */   
}

html, body {
  background-color: #add8e6;
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure full width */
  height: 100%; /* Ensure full height */
  display:flex;
  flex-direction:column;
}
.button {
 background-color: #BFB9FA;
 width: 150px;
 color: black;
 cursor: pointer;
 padding-left: 30px;
 padding-right: 30px;
 padding-top: 10px;
 padding-bottom: 10px;
 font-size: 14px;
 border: none;
 }

#storeName{
  margin-top: 20px;
  margin-left: 50px;
}
#sellerName{
  margin-top: 20px;
  margin-left: 50px;
}

.productRating{
  margin-left: 250px;
  font-size: 30px;
}

#rightSideText{
  margin-top: 20px;
}